:javascript
  $(function(){
    $('.language_select li a').click(function(){
      var selected_locale = $(this).data('locale');
      var selected_text   = $(this).text();
      var target = $('.language_select .language_value');

      $(target).text(selected_text);
      $(target).attr('data-locale', selected_locale);

      if (selected_locale == 'all') {
        // term
        $('.glossary_locale_detail[data-locale]').slideDown();
        // title
        $('span.title, span.title-separator').show();
      } else {
        // term
        $('.glossary_locale_detail[data-locale!=' + selected_locale + ']').slideUp();
        $('.glossary_locale_detail[data-locale='  + selected_locale + ']').slideDown();
        // title
        $('span.title, span.title-separator').hide();
        $('span.title[data-locale='  + selected_locale + ']').show();
      }

      // .. finally post the change to the session
      $.post('/glossaries/locale', { locale: selected_locale });
    });

    // initial click to setup
    $('.glossary_locale_detail[data-locale='  + "#{glossary_locale(@glossary)}" + ']').show();
  });

%style
  :sass

    .language_selection
      float: right

      .btn-label
        float:         left
        height:        28px
        line-height:   28px
        padding-right: 5px

      .language_select
        float: left

    .glossary_locale_detail
      display: none

      .language_indicator
        float:   right
        padding: 0 10px 0 0

.page-header
  %h1
    = "Glossary: "
    = @glossary.translations.map { |translation| "<span class='title' data-locale='#{translation.locale}'>#{translation.name}</span>" }.join("<span class='title-separator'> / </span>").html_safe

  %dl.dl-horizontal
    %dt
      %strong= "#{@glossary.class.human_attribute_name(:languages)}:"
    %dd= @glossary.languages.map { |language| language.language }.join(', ')

.btn-toolbar
  .language_selection
    .btn-label= "#{t('shared.language')}:"
    .btn-group.language_select
      - glossary_locale = glossary_locale(@glossary)
      %a.btn.language_value(href='#' data-locale="#{glossary_locale}")= Codes::Language.translate_language_code(glossary_locale)
      %a.btn.dropdown-toggle(href='#' data-toggle="dropdown")
        %span.caret
      %ul.dropdown-menu
        %li
          %a{href: '#', data: { locale: 'all'} }= t('shared.all')
        %li.divider
        - @glossary.languages.each do |language_code|
          %li
            %a{href: '#', data: { locale: language_code.language_code} }= language_code.language
    .clear_both
  .clear_both


- @glossary.language_codes.each do |glossary_locale|
  - translation = @glossary.translation(glossary_locale) || @glossary.translations.new(:locale => glossary_locale)
  - translation_class = translation.class
  .glossary_locale_detail{ :data => {:locale => glossary_locale} }
    .language_indicator
      = Codes::Language.translate_language_code(glossary_locale)
    %dl.dl-horizontal
      %dt
        %strong= "#{translation_class.human_attribute_name(:name)}:"
      %dd= translation.name.present? ? translation.name : '_'.html_safe
      %dt
        %strong= "#{translation_class.human_attribute_name(:description)}:"
      %dd= translation.description.present? ? translation.description : '_'.html_safe

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")),
            glossaries_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")),
            edit_glossary_path(@glossary), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")),
            glossary_path(@glossary),
            :method => 'delete',
            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
            :class => 'btn btn-danger'


%ul.nav.nav-tabs
  %li.active
    %a(href="#{glossary_terms_path(@glossary)}") Begriffe
  %li.dropdown
    %a.dropdown-toggle(href="#" data-toggle="dropdown")
      Sets
      %b.caret
    %ul.dropdown-menu
      %li Alle
      %li.divider
      %li Öffentliche
      %li Persönliche


= link_to content_tag(:i, nil, :class => 'icon-plus-sign') + " " + t('.add', :default => t("helpers.links.add_a_term")),
          new_glossary_term_path(@glossary),
          :class => 'btn'

- ('A'..'Z').each do |letter|
  = link_to letter, glossary_terms_path(@glossary.id, { search_name: letter })
= link_to t('shared.single_word.all'), glossary_terms_path(@glossary.id)

= render @glossary.terms
