%h1 Welcome at GLOQ!

.intro
  = "GLOQ is your center for <strong>GLO</strong>ssaries and FA<strong>Q</strong>s.".html_safe

.section
  .title= "Find your terms in the <strong>Glossaries</strong>&hellip;".html_safe
  .search
    = text_field_tag :glossary_search, '', :placeholder => 'Search a glossary&hellip;'.html_safe
    or
    = link_to('browse',   glossaries_path)
    the glossaries
    %br
    = text_field_tag :term_search, '', :placeholder => 'and/or enter a term.'.html_safe

.section
  .title= "Find your questions in the <strong>FAQs</strong>&hellip;".html_safe
  .search
    = text_field_tag :faq_search, '', :placeholder => 'Search an FAQ&hellip;'.html_safe
    or
    = link_to('browse',   glossaries_path)
    the FAQs
    %br
    = text_field_tag :question_search, '', :placeholder => 'and/or enter a term.'.html_safe

